.tile {
  &-list {
    @include flex();
    flex-wrap: wrap;

    @media (max-width: $tablet) {
      justify-content: center;
    }

    &__item {
      @include flex(row, center);
      @include block($light-grey, $dark-grey);

      flex-basis: 135px;
      min-height: 150px;

      text-align: center;

      @media (max-width: $tablet) {
        flex-basis: 125px;
      }
    }
  }
}